
        <section class="content-wrapper main-content clear-fix" style="min-width:768px;overflow:auto">
            <div class="container-fluid" style="background:url(images/dsmmcm1415-gift-giving-convert.png);background-color:rgba(255,255,255,0.5);  height:638px;background-repeat:no-repeat">
               <div  style="display: table;width:100%;height:100%; min-height:100%; background-color:transparent;margin:0;">
                   <div style="display:table-cell; vertical-align:middle;">
                       <div class="row" style="padding-left:50px;">
                           <div class="col-xs-12 col-lg-7">
                                <img src="images/brand-large.png" class="img-responsive" style="height:100px;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)" />

                           </div>
                       </div>
                       <div class="row" style="padding-left:50px;">
                           <div class="col-xs-12 col-lg-7">                                
                               <h1 class="font-moon" style="color:white;text-align:center">Be ready, we are launching soon !</h1>
                           </div>
                       </div>
                       <div class="row" style="padding-left:50px;padding-top:50px" >
                           <div class="col-xs-12 col-lg-7" style="">                   
                            
                               <div class="container-fluid" >
                                    <form action="//pickkado.us12.list-manage.com/subscribe/post?u=79f74f75d2a03171b97c96055&amp;id=6ef2a36fbf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                   <div class="row" style="padding-bottom:20px">
                                       <div class="col-xs-8 col-md-8 col-lg-8" style="padding:0px;">
                                            <input type="email" class="form-control input-lg textbox" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                       </div>
                                       <div class="col-xs-4 col-md-4 col-lg-4" style="padding:0px;padding-left:2px">
                                           <button type="submit" class="btn btn-primary btn-block btn-lg font-helvetica btn-login subscribe" style="border-radius:0;" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
                                       </div>
                                   </div>
                                   </form>
                               </div>
                           </div>
                        </div>
                   </div>
               </div>
            </div>
            <div class="container-fluid" id="how" style="padding:0px;">
                <div class="col-xs-12" style="background-color:#5daf92; color:white; height:130px">
                    <h3 class="font-moon" style="display:block; text-align:center; padding:25px 0px">bagaimana pickkado memenuhi kebutuhan kado anda ?</h3>
                </div>
                <div class="col-xs-6 col-md-3 how">
                    <div class="thumbnail">
                        <img src="images/IconPilihKado_Hijau.png" style="padding-top:30px;" />
                        <div class="caption">
                            <h4 class="font-moon" style="" >pilih kado anda</h4>
                            <div class="font-helvetica col-xs-offset-1 col-xs-10 col-xs-offset-1" style="text-align:center; font-size:12px">
                                PICKKADO menyediakan beragam kategori dan jenis barang sebagai pilihan kado anda.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 how-inverse" >
                    <div class="thumbnail">
                        <img src="images/IconKartuUcapan_Hijau.png" style="padding-top:30px;" />
                        <div class="caption" style="color:#707070">
                            <h4 class="font-moon" style="text-align:center;min-height:80px">Kartu ucapan dari anda & kerabatnya</h4>
                            <div class="font-helvetica col-xs-offset-1 col-xs-10 col-xs-offset-1" style="text-align:center; font-size:12px">
                                PICKKADO mennyediakan sebuah feature agar anda bisa
                                meminta kerabatnya untuk memberikan ucapan selamat 
                                dalam satu kartu ucapan yang akan anda berikan.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 how" >
                    <div class="thumbnail">
                        <img src="images/IconBungkusKado_Hijau.png" style="padding-top:30px;" />
                        <div class="caption" style="color:#707070">
                            <h4 class="font-moon" style="text-align:center;min-height:80px">bungkus kado</h4>
                            <div class="font-helvetica col-xs-offset-1 col-xs-10 col-xs-offset-1" style="text-align:center; font-size:12px">
                                PICKKADO akan membungkus kado anda sesuai dengan bungkus kado yang anda pilih.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-6 col-md-3 how-inverse">
                    <div class="thumbnail">
                        <img src="images/IconPatungan_Hijau.png" style="padding-top:30px;" />
                        <div class="caption" style="color:#707070">
                            <h4 class="font-moon" style="min-height:80px" >Patungan dengan teman-teman anda?</h4>
                            <div class="font-helvetica col-xs-offset-1 col-xs-10 col-xs-offset-1" style="text-align:center; font-size:12px">
                                PICKKADO memberikan opsi untuk anda, agar
                                bisa membeli kado secara individu atau patungan
                                dengan kerabat-kerabat anda.

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
